{% extends "index.html" %}
{% load static %}
{% block content %}

<div id="ing-div" class="container-fluid text-center title-div wow fadeInUp" data-wow-delay="0.1s">
  <h1> Have a Recipe? Add it!</h1>
</div>

<div class="row">
  <div class="col addimg">
    <img src="{% static 'img/addrecipe.png' %}" alt="recipe">
  </div>
  <div class="col form-div">
    <div id="feedback-form">
      <h2 class="header">Recipe</h2>
      <div>
        <form action="/recipe/add_recipe/" method=post>
          <div class="form-group">{% csrf_token %}
            <label for="title">Title</label>
            {{title}}
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            {{category}}
          </div>
          <div class="form-group">
            <label for="recipetext">Recipe</label>
            {{recipe}}
          </div>
          <input type="submit" id="subrec" class="btn btn-primary" value="Submit">
        </form>
      </div>
    </div>

  </div>
</div>

{% endblock %}
